@import url("animations.css");
:root{
    --duration: 0;
    --amt: 0;
    --height:0;
}
/* quotes container */
.quotes-slider{
    height:var(--height);
    padding:3rem 1rem;
    text-align: center;
    overflow: hidden;
    position: relative;
    box-sizing: content-box; /* to get correct content height */ 
}

.arrow{
    animation-name: show-arrow;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    color: rgb(136, 136, 136);
    font-size: 3rem;
    position:absolute;
    top:50%;
    cursor: pointer;
    transform: translate(0,-50%);
    transition: all 1s ease;
    z-index:2;
}


.arrow.left:hover{
    color:#000;
    transform: translate(-10%,-50%);
    transition: all 1s ease;
}
.arrow.right:hover{
    color:#000;
    transform: translate(10%,-50%);
    transition: all 1s ease;
}

.left{
    left:0;
}
.right{
    right:0;
}

.bullets{
    display:block;
    text-align: center;
}

.bullet{
    display:block;
    color:black;
    height:1px;
    width:1px;
}



.quotes-slider::before{
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 10rem;
    font-weight: bold;
    position: absolute;
    left:10%;
    top:0;
    opacity:0.1;
}


.cite{
    display:block;  
    box-sizing: content-box; /* to get correct content height */ 
}

/* animations classes */
.hide-arrow {
    animation-name: hide-arrow;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    
}


.fade-zoom-in{
    animation-name: fade-zoom-in;
    animation-duration: var(--duration);
    animation-timing-function: var(--amt);
}

.zoom-in{
    animation-name: zoom-in;
    animation-duration: var(--duration);
    animation-timing-function: var(--amt);
}

.from-left{
    animation-name: from-left;
    animation-duration: var(--duration);
    animation-timing-function: var(--amt);
}

.from-left-bounce{
    animation-name: from-left-bounce;
    animation-duration: var(--duration);
    animation-timing-function: var(--amt);
}

.from-right{
    animation-name: from-right;
    animation-duration: var(--duration);
    animation-timing-function: var(--amt);
}

