
:root{
    --duration: 0;
    --amt: 0;
}
/* quotes container */
.quotes-slider{
    padding:3rem 1rem;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.quotes-slider::before{
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 10rem;
    font-weight: bold;
    color: var(--dark-grey);
    position: absolute;
    left:10%;
    top:0;
    opacity:0.1;
    }


.cite{
    display:none;  
}

/* animations classes */
.fade-zoom-in{
    animation-name: fade-zoom-in;
    animation-duration: var(--duration);
    animation-timing-function: var(--amt);
}

.zoom-in{
    animation-name: zoom-in;
    animation-duration: var(--duration);
    animation-timing-function: var(--amt);
}

.from-left{
    animation-name: from-left;
    animation-duration: var(--duration);
    animation-timing-function: var(--amt);
}

.from-left-bounce{
    animation-name: from-left-bounce;
    animation-duration: var(--duration);
    animation-timing-function: var(--amt);
}

.from-right{
    animation-name: from-right;
    animation-duration: var(--duration);
    animation-timing-function: var(--amt);
}

