q.dark{
    color:rgb(68, 68, 68);
    font: italic 3rem Arial, sans-serif;
}

p.ref{
    font-size:1rem;
    font-family: 'Open sans','Helvetica','Arial',sans-serif!important;
}

p.ref::before{
    height: 0.5px;
    background-color:orangered;
    content: "";
    position:relative;
    margin: 0 0.6rem 0 0.6rem;
    width: 1.6rem;
    display: inline-block;
    bottom: 5px;
}