/* custom styles */
@font-face {
    font-family: quote;
    src: url(../fonts/raleway/Raleway-ThinItalic.ttf);
  }
@font-face {
    font-family: ref;
    src: url(../fonts/raleway/Raleway-Light.ttf);
}

body{
    padding:3rem;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(163, 163, 163, 0.233) 100%);
}


q.dark{
    color:rgb(68, 68, 68);
    font: italic 1.5rem quote,'Helvetica','Arial',sans-serif;
}

q.dark::before{
    content: "";
}

p.ref{
    font: 0.6rem ref,'Helvetica','Arial',sans-serif;
}

p.ref::before{
    height: 0.5px;
    background-color:orangered;
    content: "";
    position:relative;
    margin: 0 0.6rem 0 0.6rem;
    width: 1.6rem;
    display: inline-block;
    bottom: 5px;
}

@media only screen and (min-width: 768px) {
    q.dark{font-size:3rem}
    p.ref{font-size: 1rem};
  }